<main>
  <section class="section-form">

    <mat-card class="card-login mat-elevation-z8">
      <mat-card-header>
        <mat-card-title color="warn">Crie o seu cadastro em nosso sistema</mat-card-title>
      </mat-card-header>
      <h6>* Preencha o formulário corretamente</h6>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <img class="img-logo" mat-card-image src="../../../assets/logo.jpeg" alt="">
      <mat-card-content>
        <form class="form" [formGroup]="loginForm">
          <mat-form-field appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input matInput placeholder="Informe seu Usuário" required formControlName="nomeCompleto">
            <mat-error *ngIf="this.loginForm.invalid">Campo obrigado</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Informe seu Usuário" required formControlName="usuario">
            <mat-error *ngIf="this.loginForm.invalid">Campo obrigado</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Informe seu Usuário" required formControlName="email">
            <mat-error *ngIf="this.loginForm.invalid">E-mail inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Forneça sua senha" type="password" required formControlName="senha">
            <mat-error *ngIf="this.loginForm.invalid">Campo obrigado</mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-raised-button class="btn-cadastrar" (click)="ngSubmit()" [disabled]="this.loginForm.invalid"
          color="accent">Cadastrar-se</button>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button mat-raised-button class="btn-voltar" (click)="voltarParaTelaDeLogin()" color="warn">Voltar</button>
      </mat-card-footer>
    </mat-card>
  </section>
  <section class="section-secondary">
    <h1>Registre-se em nosso sistema</h1>
    <br>
    <h1>Vamos juntos transformar desafios em oportunidades</h1>
    <img class="img-login" src="../../../assets/registrar.svg" alt="">
  </section>
</main>
