main {
  display: flex;
  justify-content: center;
  background-color: #E7E8EC;
  min-height: 100%;
  overflow-y: auto;

  .cards-options {
    margin: 20px;
    width: 80vw;
    // height: auto;
  }

  .formFind {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: #1D2E5C;

    .usuario {
      // width: auto;
    }

    .formPesquisar {
      // width: 100%;
    }
  }

  .formFind>mat-form-field {
    width: 98%;
  }

  .car-main {
    width: 100%;
  }

  .car-main > mat-card {
    padding: 20px;
  }

  .card {

    display: flex;
    justify-content: space-between;

    mat-card {
      padding: 20px;
      align-items: center;

      // margin: 20px;
      width: 49.2%;
    }

  }



  .bg-card {
    color: white;
    background-color: #1D2E5C;
  }

}

/* versão tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .container {
    width: 100vw;
    background-color: aqua;
  }

  .cards-options {
    width: 80vw !important;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card>mat-card {
    width: 100% !important;
    align-items: start !important;
  }

}

/* versão mobile */
@media screen and (max-width: 767px) {
  .container {
    width: 100vw;
    background-color: aqua;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card>mat-card {
    width: 100% !important;
    align-items: start !important;
  }
}
