<app-toolbar></app-toolbar>
<main>

  <div class="rotas">
    <!-- <h1>aqui</h1> -->
  </div>

  <div class="cards">
    <mat-card *ngFor="let fila of filasAtendimento">
      <mat-card-header>
        <mat-card-title><h2><strong>{{fila.nomeFila}}</strong></h2></mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <img matCardImage src="{{fila.urlImagem}}">
      <mat-card-content>
        <br>
        <br>
        <h4>{{fila.descricao}}</h4>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-raised-button color="accent" routerLink="chamado">Acessar</button>

      </mat-card-actions>
    </mat-card>

  </div>

</main>
